@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>假JIRA系統</h1>
</div>
<div>
    <p>RD腳色帳密rd rd</p>
</div>
<div>
    <p>QA腳色帳密qa qa</p>
</div>
<div>
    <p>帳號:</p>
    <input id="txtacount" type="text">
</div>
<div>
    <p>密碼:</p>
    <input id="txtpass" type="password">
</div>
<div>
    <input id="btnLogin" onclick="login()" type="button" value="登入" />
</div>

  <script type="text/javascript">

      function login() {      
          var logindata = {
                    strAccount: $("#txtacount").val()
                    , strPass: $("#txtpass").val()
                };
          $.ajax({
              url: '/Login/login',
              type: 'Post',
              data: JSON.stringify(logindata),
              dataType: 'Json',
              contentType: "application/json; charset=utf-8",
              error: function (xhr) {
        
              result = false;
              },
              success: function (data) {
              if (data.result == true) {
                  top.location.href = '/home/Privacy/'
                  }
              else {
                  alert(data.erroMessage);
                  }
        
              }
                
          });
      }
  </script>